$white: #ffffff;
$black: #000000;
$gray-1: #f9fafb;
$gray-2: rgb(235, 235, 235);
$gray-3: rgb(161, 161, 161);
$gray-4: #6B7280;
$color1: #1f2641;
$color2: #3b3e66;
$color3: #31345f;
$green: #10B981;
$green-hover: #0faa76;
$blue: #6366F1;
$blue-hover : #4d4fe7;
$red: #EF4444;
$red-hover : #e23434;
